01. wget
02. curl
03. git
04. stow
05. zsh
06. fzf, fd-find, ripgrep
07. build-essential (c/c++)
08. python (latest version)
09. rust (rust-up)
10. default-jdk
11. lazygit
12. xclip
13. nvm
14. tmux
15. neovim




sudo apt install wget curl git stow zsh fzf fd-find ripgrep build-essential default-jdk lazygit xclip tmux
npm i -g neovim tree-sitter-cli


#-----tmux plugins-----
under ~/plugins/tmux/
tmux-continuum  tmux-prefix-highlight  tmux-resurrect  tmux-sensible  tpm  vim-tmux-navigator

#-----zsh plugins-----
under ~/plugins/zsh/
zsh-autosuggestions zsh-history-substring-search zsh-syntax-highlighting


#=============NEOVIDE=============

neovide installation in windows....

--- environment variable adding
key : NEOVIDE_WSL
value : true
